# SentEval data and .pyc files
env
fastText
encoder
*.vec
*.zip
*.bat
*.npy


# python
__pycache__/
*.py[cod]
*$py.class
main.py

# log files
*.log
*.txt
!requirements.txt

# pickle files
*.pkl

# datasets
dataset/SNLI/
dataset/MultiNLI/
dataset/AllNLI/
dataset/GloVe
dataset/fastText
